* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: aliceblue;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50vw;
  background-color: aquamarine;
  border-radius: 10px;
  color: aliceblue;
  margin-top: 5%;
}

#message {
  color: red;
}

p {
  margin: 1.5vh;
}

input {
  padding: 5px 10px;
  border-radius: 5px;
  margin-top: 5px;
}

button {
  color: aliceblue;
  padding: 5px 10px;
  border-radius: 5px;
  margin-top: 10px;
  color: black;
}

h1,
p,
label,
table {
  color: black;
}

table,
th,
td {
  border: 2px solid black;
  border-collapse: collapse;
  padding: 0.5rem 0.5rem;
  margin-bottom: 5%;
}

.heading {
  margin-top: 5%;
}

#return-change {
  margin-bottom: 10px;
}
